---
title: "About"
layout: default
sitemap: false
---
<link rel="stylesheet" type="text/css" href="style.css">
<article>
  <header><h1>Consult GX </h1></header>
 <div>
					<ul>
						<li class="topictext">We accelerate Growth & Innovation by driving your digital transformation</li>
						<li class="topictext">Our team specializes in Full Stack- Web-React/Angular, Mobile-iOS/Android, Cloud-AWS/Azure/GCP, Api and AI/ML-LLMs, genAI, ML Ops</li>
						<li class="topictext">Some of our software leaders have over two decades in Software engineering, and having worked for Fortune 100 organizations</li>
						<li class="topictext">We do full SDLC, help in product innovation strategy, ideation, design, and delivering technological solutions end to end.</li>
						<li class="topictext">We do architecture for scale and software Optimization for reliable and smarter solutions.</li>
						<li class="topictext">Please reach out to us at Consultgx@gmail.com, and we'll help you scale for less.</li>
					</ul>
				</div>
</article>


<!-- 
{% if site.show_excerpts %}
  {% include home.html %}
{% else %}
  {% include archive.html title="Posts" %}
{% endif %} -->
